
.inputSrch {
    max-width: 250px;
    float: left;
}

.main {
    background-color: rgba(25, 30, 40, 0.7);
    position: fixed;
    height: 70px;
    top: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid rgba(242, 242, 242, 0.5);
    transition: height 0.3s ease-out;

}
.main:hover{
	height: 90px;
	
}
.mainMenu li:hover {
	border-top: 2px solid #FF7F38;
}

.mainMenu li{
	padding: 24px 20px;
	list-style: none;
}
.mainMenu {
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-link a {
    color: #f2f2f2;
}
.brand{
	margin-left: 30px;
}

@media (min-width: 425px){
	.img{
	position: relative;
	right: 30%
}
}
