.aboutUs, .contacts, .hetevel, .we {
	text-align: center;
}
.aboutUs p, .contacts p, .hetevel p {
	font-size: 13px;
}
.copy {
	text-align: center;
	font-size: 12px;
}
.we a {
	text-decoration: none;
	font-size: 13px;
	color: white;
}
.we ul {
	text-align: justify;
}