
.img{
	width: 250px;
}

.mainDiv{
	padding: 0px 30px 0px 30px;
	bottom: 0;
	color: #f2f2f2;
	background-image: url(../../../assets/images/Footer/footer.jpg);
	background-size: cover; 
	background-color: ;
	max-width:100%;
    min-width:998px;
    margin-top: 50px;
    position: relative;
    bottom: 0;
}

.mainDiv p{
	text-align: justify;
}

.ftrLi a{
	color:#f2f2f2;
	line-height: 2em;
	font-style: italic;
	font-size: 14px;
	transition:  0.5s;
	list-style-type: none;
}

h6 {
    padding: 5px 0px;
}


.ftrLi{
	padding-left: 20px;
}
.ftrLi h6{
	margin-right: 60px;
	text-align: center;
}

.ftrLi a:hover{
	color: #4d88ff;
}
.logo {
	text-align: center;
	position: relative;
	top: 60px;
}

.aboutUs h2 {
	display: block;
}

.copy {
	width: 100%;
	justify-content: center;
    background: cadetblue;
}

.icons {
	text-align: center;
	font-size: 50px;

}
.item{
	margin-left: 35px;

 }


 .aboutSite{
 	margin-top: auto;
	margin-bottom: 30px;
 }
  .aboutSite h5{
  	margin-left: 25px;
	letter-spacing:8px;
	text-align: center;
 }

@media (max-width: 576px){
	.mainDiv {
		
	}
}
