
.img{
	width: 250px;
}

.mainDiv{
	padding: 30px 50px;
	bottom: 0;
	text-align: left;
	color: #f2f2f2;
	background-image: url(../../../assets/images/Footer/footer.jpg);
	background-size: cover; 
	background-color: ;
	max-width:100%;
    min-width:998px;
    margin-top: 50px;
    position: relative;
    bottom: 0;
}

.mainDiv p{
	text-align: justify;
}

.ftrLi a{
	color:#f2f2f2;
	line-height: 2em;
	font-style: italic;
	font-size: 14px;
	transition:  0.5s;
	list-style-type: none;
}

.ftrLi a:hover{
	color: #4d88ff;
}

.mainDiv div:nth-child(1n+2){
	border-left: 1px solid #f2f2f2;
	padding: 0 20px;
}

.logo{
  display: flex;
  align-items: center;
}


@media (max-width: 576px){
	.mainDiv {
		min-width: 100%;
		text-align: center;
	}
	.mainDiv div:nth-child(1n+2){
		border: none;
		padding-top: 15px;
	}
}


.aboutUs h2 {
	display: block;
}
.aboutUs p {
	font-size: 8px;
}

