body {
   background-image: url(../../../assets/images/Books3.jpg);
   background-size: cover;
}
.text_muted {
    color: black !important;
}
.mainForm {
    line-height: 15px;
    margin-bottom: 40px;
}
.Reg_Page_Bg {
     margin-top: 40px;
}
.radioBtn{
	
	float: left;
}