
* {
    box-sizing: border-box;
}

.main{
	width: 100%;
	text-align: left;
	margin: 50px auto;
	padding: 30px;
}
.btn{
	 position: absolute;
     left: 15px;
     padding: 10px;
     font-size: 18px;
}
.Row{
	margin: 50px;
}
.btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}