
.inputSrch {
    max-width: 250px;
    margin-top: 30px;
    padding: 5px;
}

.main {
    height: 70px;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid rgba(242, 242, 242, 0.5);
   /*  transition: height 0.3s ease-out; */

}
/* .main:hover{
    height: 90px;
} */


.mainMenu li{
	padding: 24px 20px;
	list-style: none;
}
.mainMenu {
    justify-content: flex-end;
}

.navbar-collapse{
    background: #222;
}

.nav-link a {
    color: #f2f2f2;
}
.brand{
	margin-left: 30px;
}

@media (min-width: 425px){
	.img{
	position: relative;
	right: 30%
}
}
.btn {
    height: 38px;
    width: 100%;
    font-size: 20px;
    margin-left: 3px;
    margin-top: -8px;
    padding:  0px 5px 0px 6px;
    color: #f2f2f2;
}

