
.inputSrch {
    min-width: 150px;
    margin-top: 17px;
    padding: 5px;
}

.btn {
    position: relative;
    right: 11px;
    height: 38px;
    width: 100%;
    font-size: 20px;
    margin-left: 0px;
    margin-top: -8px;
    padding:  0px 6px 0px 6px;
    color: #f2f2f2;  
}
 

/* .search{
    position: relative;
    right: 5px;
}  */

.main {
    width: 100%;
	padding-top: 0;
	padding-bottom: 0; 
}

.mainMenu li{
    font-size: 18px;
	padding: 15px 20px;
	list-style: none;
}
.mainMenu {
    justify-content: flex-end;
}


.navbar-collapse{
    background: #222;
}

.nav-link a {
    color: #f2f2f2;
}
.brand{
	margin-left: 30px;
}



@media (min-width: 425px){
	.img{
	position: relative;
	right: 30%
}
}

.dropUser{
    display: none;
}
.dropButtons{
    display: flex;
}
@media (min-width: 992px) and (max-width: 1240px){

.dropUser{
    display:block;
}
.dropButtons{
    display: none;
}
}
@media (max-width: 1350px){
    .mainMenu li{
    padding: 10px ;
}
}