button {
	margin-top: 10px;
	margin-left: 0;
	margin-right:0;
}
img{
	margin-top: 0;
}
.container{
	display: flex;
	margin: 80px 60px 30px 60px;
	flex: 1;

}
.font{
	color: black;
}

.white {
	color: white;
}
.center {
	text-align: center;
	color: rgba(168, 168, 168, 1);
	margin-top: 30px;
}

.content {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
