.card {
	min-height: 280px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
	padding: 15px;
}
.card-body>.btn {
	padding: 0;
}
.cardImg {
	width: 100px;
	height: 100px;
	margin: 10px auto;
	border-radius: 50%;
}
.card0 {
	background-color: rgba(242, 243, 242, 1);
	border-top: 4px solid lightpink;
}
.card1 {
	background-color: rgba(242, 243, 242, 1);
	border-top: 4px solid lightblue;
}
.card .card-title {
	color: rgba(168, 168, 168, 1);
}
.subject {
	text-align: center;
	color: lightblue;
	margin-top: 30px;
}
.cardContent {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.card .btn {
	border: 2px solid rgba(168, 168, 168, 1);
	background: rgba(168, 168, 168, 1);
	color: lightpink;
	border-radius: 25px;
}
.card-subtitle {
	color: rgba(168, 168, 168, 1);
}
.card a {
	color: black;
}
.card0 a:hover {
	color: lightpink;
}
.card1 a:hover {
	color: lightblue;
}